<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/207a4839-f509-4136-a120-e3c673562d5e21171358.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/a1487c94-0556-4dcc-a0e9-b96fc881253121180937.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="	https://d2xamzlzrdbdbn.cloudfront.net/bg/35922845-db14-4005-b74f-95b2303e5f3521191137.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container">
    <div class="row">
        <div class="carde col-md-3">
            <img style="border: 1px;border-radius: 20px;" src="https://d2xamzlzrdbdbn.cloudfront.net/theme/98043651-12f6-494d-8c1a-328985023aa321121215_1.webp" alt="">
        </div>
        <div class="carde col-md-3">
            <img style="border: 1px;border-radius: 20px;" src="https://d2xamzlzrdbdbn.cloudfront.net/theme/5396bf0a-898a-412f-b367-28402b3056ef21121218_1.webp" alt="">
        </div>
        <!-- <div class="card col-md-3">
            <img src="" alt="">
        </div> -->
        <div class="cards">
            <img style="border: 1px;border-radius: 20px;" src="https://d2xamzlzrdbdbn.cloudfront.net/theme/e1d78b99-14f8-4bf2-85da-9c7407fd43a921121221_2.webp" alt="">
        </div>
        <div class="carde col-md-3">
            <img style="border: 1px;border-radius: 20px;" src="https://d2xamzlzrdbdbn.cloudfront.net/theme/9909c73f-4ab1-4855-84dc-94706a2577d521121222_1.webp" alt="">
        </div>
        <div class="carde col-md-3">
            <img style="border: 1px;border-radius: 20px;" src="https://d2xamzlzrdbdbn.cloudfront.net/theme/98b84a20-3854-4afd-a7df-dd55cf55a50221121223_1.webp" alt="">
        </div>
    </div>
  </div>