.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip:border-box ;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.item img{
    width: 65px;

}
.item{
    margin: 0px 15px ;
    text-align: center;
}
.item a:hover,.item a::after{
    /* transform: scale(1.1); */
    color:green;
    cursor: pointer;
}
.item img:hover,.item img::after{
    transform: scale(1.1);
}
.card{
    padding: 20px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #666565;
}
.card:hover{
    transform: scale(1.1);
}

.btn:hover{
    background: rgb(18, 18, 19);
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;

}
.card img:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}
h6{
    border: 1px;
    border-radius: 12px;
    background: rgb(204, 226, 158);
}
.card-top{
    background: wheat;
}

.baseBlock {
	margin: 0px 0px 35px 0px;
	padding: 0 0 15px 0px;
	border-radius: 5px;
	overflow: hidden;
	min-height: 390px;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}
